# Conectividad con AWS e Infraestructura Cloud
boto3==1.34.0
botocore==1.34.0

# Procesamiento y Manipulación de Datos Estructurados
pandas==2.2.0
numpy==1.26.4

# FinOps: Formato Columnar y Motor de Compresión de Alta Eficiencia
pyarrow==15.0.0

# Consumo de APIs Financieras Externas
requests==2.31.0

# Gestión Segura de Variables de Entorno
python-dotenv==1.0.1

# Gobernanza y Motores de Procesamiento Masivo (Capa Silver/Gold - SCRUM-60)
pyspark==3.5.0
delta-spark==3.1.0